*,html{
  margin: 0;
  padding: 0;
}
body{
  background-color: lightblue;
  margin: none;
}

.button-property{
   background-color: #e41ba4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h1{
  width: 100%;
  background-color: rgba(100,0,50,.5);
  color: white;
  margin: none;
  padding: none;
  
}
