*{
  box-sizing:  border-box; 
  margin: 0;
  padding: 0;
}
body{
  background: url(https://www.maxpixel.net/static/photo/1x/Pink-Star-Cute-Wallpaper-Water-Moon-Background-1475474.jpg)  no-repeat center  center fixed;
  background-size: cover;
 
}
.banner{
  background-color: rgb(82,233,233);
/*   padding: 20px;
  margin:10px; */
  text-align:left ;
  color: rgb(200,0,130);
  border-bottom-right-radius: 95%;
}

h1{
  margin-left: 15px;
}
h2{
  margin-left: 15px;
}
h3{
  margin-left: 15px;
}


/* changes the background to pink,
hides any overflow
adds a margin of 10px all around */
.navigation{
  background-color: rgb(82,233,233);
  overflow: hidden;
  width: 100%;
}
.navigation a{
  text-decoration: none;
  color: rgb(200,0,130);
  padding: 8px;
}
.navigation a:hover{
  border: solid 2px rgb(200,0,130);
  background: white;
}